exp-mdl-api/src/main/app/exp-mdl-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="8082" doc:name="HTTP Request Configuration"/>
    <http:request-config name="HTTP_Request_Configuration1" host="localhost" port="8085" doc:name="HTTP Request Configuration"/>
    <flow name="exp-mdl-apiFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/{command}" allowedMethods="GET" doc:name="HTTP"/>
        <logger message="Recebendo comando SQL a ser criado na camada de Processo #[payload.command]" level="TRACE" doc:name="Logger"/>
        <set-variable variableName="Comando" value="#[payload.command]" doc:name="Variable"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/process/{#[flowVars.Comando]}" method="GET" doc:name="HTTP"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-payload value="#[payload.erro == &quot;Ocorreu um erro durante a chamada da API de experience&quot;]" doc:name="Set Payload"/>
            <http:request config-ref="HTTP_Request_Configuration1" path="/{#[payload.erro]}" method="POST" doc:name="HTTP"/>
        </catch-exception-strategy>
    </flow>
</mule>
